/* todo */
/* make modular, make custom eleements  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap");

/* muh vars */
:root {
    --btnColor: rgb(116, 116, 116);
    --btnColor2: rgb(255, 255, 255);
    --darkColor: black;
    --white: #fff;
    --gradientC1: rgb(3, 48, 144);
    --gradientC2: rgb(2, 16, 36);
    --gradientC3: rgb(0, 7, 39);
    --gradientC4: rgba(2, 16, 36, 0.2);

    --testGradC1: rgb(206, 18, 18);
    --testGradC2: rgb(129, 0, 0);
    --testGradC3: rgb(27, 23, 23);

    --toggleBtnSize: 5rem;
}

/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    color: #111;
}

h1 {
    font-size: 30px;
    font-weight: 500px;
}

p {
    margin: 20px 0 10px 0;
    font-size: 1.1rem;
}

#body,
#home-body,
#port {
    width: 100%;
    height: 100vh;
    color: var(--white);
    background: linear-gradient(-45deg, var(--gradientC3), var(--gradientC2), var(--gradientC1));
    background-size: 400% 400%;
    position: relative;
    animation: change 30s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes change2 {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
}

section.home {
    flex-direction: row;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background: var(--btnColor);
    color: var(--white);
    text-decoration: none;
    padding: 15px 50px;
    margin: 20px 0;
    border-radius: 2rem;
    /* outline: 2px solid var(--btnColor2); */
    border: 3px solid var(--btnColor);
}

.btn:hover {
    transform: scale(0.98);
    background-color: var(--btnColor2);
    transition: ease-in 0.3s;
    color: black;
    text-decoration: underline;
    /* outline: 2px solid var(--btnColor2); */
}

.btn2 {
    cursor: pointer;
    display: inline-block;
    background: var(--btnColor2);
    color: var(--btnColor);
    text-decoration: none;
    padding: 15px 50px;
    margin: 20px 0;
    border-radius: 2rem;
    /* outline: 2px solid var(--btnColor2); */
    border: 3px solid var(--btnColor);
}

.btn2:hover {
    transform: scale(0.98);
    background-color: var(--btnColor);
    transition: ease-in 0.3s;
    color: white;
    text-decoration: underline;
    /* outline: 2px solid var(--btnColor2); */
}

.logo {
    position: absolute;
    top: 30px;
    left: 100px;
    z-index: 20;
}

.logo img {
    width: 15rem;
}

/* toggle */
.toggle {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    width: var(--toggleBtnSize);
    height: var(--toggleBtnSize);
    background: var(--btnColor2) url(../images/menu-regular-24.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 0 1rem;
    z-index: 20;
}

.toggle:hover {
    background-color: var(--btnColor);
    transform: scale(1.1);
}

.toggle.active {
    background: var(--btnColor2) url(../images/exit-regular-24.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 0 1rem;
}

.toggle.active:hover {
    background-color: var(--btnColor);
    transform: scale(1.1);
}

/* nav */
.navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--gradientC1), var(--gradientC2), var(--gradientC3));
    background-size: 400% 400%;
    animation: change2 90s ease-in-out infinite;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    left: 0;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
}

.navigation ul li a {
    font-size: 3rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
    line-height: 3rem;
}

#email {
    font-size: 2.2rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    position: absolute;
    bottom: 20px;
    transform: scale(0.8);
}
#email:hover {
    color: var(--btnColor);
}

.navigation ul li a:hover {
    color: var(--btnColor);
}

.navigation .social-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.navigation .social-bar a {
    display: inline-block;
    transform: scale(0.6);
}

/* home  */
.home-content {
    position: relative;
    z-index: 10;
    max-width: 600px;
}

.home-content h1 {
    padding-bottom: 3rem;
}

.home-content p {
    line-height: 2.5rem;
    padding-bottom: 3rem;
}

.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
    width: 50vw;
    filter: opacity(0.9);
}

/* home */

/* thankyouemail page */
#ty-id {
    align-items: center;
    justify-content: center;
}

.ty-content h1,
.ty-content p {
    text-align: center;
}

.ty-content p span {
    color: var(--btnColor);
}

/* services */
#services .title {
    margin-top: 40px;
}

.services {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
}

.services .service {
    padding: 30px;
    background: var(--gradientC4);
    border-radius: 1rem;
    /* animation: change2 30s ease-in-out infinite; */
}

.services .service:hover {
    box-shadow: 0 0 30px var(--btnColor);
}

.services .service .icon img {
    width: 150px;
}

.services .service .icon svg {
    fill: var(--btnColor2);
}

.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

/* portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img {
    width: 100%;
    height: 100%;
}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(116, 116, 116, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 1rem;
    transition: 0.5s;
}

.portfolio .item:hover .action {
    opacity: 1;
}

.portfolio .item .action a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 1rem;
}

.portfolio .item .action a:hover {
    background-color: var(--white);
    color: black;
}

/* contact */
.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .title {
    text-align: center;
}

.contact-form {
    position: relative;
    background: var(--gradientC4);
    width: calc(100% - 450px);
    padding: 60px 40px 20px;
    border-radius: 1rem;
}

.contact-form .title {
    padding-bottom: 1.3rem;
}

.contact-form form {
    width: 100%;
}

.contact-form .form-group .row {
    width: 100%;
    display: flex;
}

.contact-form .form-group .input50 {
    width: 50%;
    margin: 0 10px;
}

.contact-form .form-group .input100 {
    width: 100%;
    margin: 0 10px;
}

.contact-form .form-group .row input,
.contact-form .form-group .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    /* color: #111; */
    width: 100%;
    padding: 10px;
    margin: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contact-form .form-group .input100 label,
.contact-form .form-group .input100 select {
    padding: 10px;
    margin-left: 5px;
}

.contact-form .form-group .row textarea {
    height: 150px;
}

.contact-form .form-group .row input [type="submit"] {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
    color: var(--btnColor);
    cursor: pointer;

    /* changed the class to btn2 make new btn 2  */

}

.contact-form .form-group .row h3 {
    padding-left: 1rem;
    padding-top: 1rem;
}

.contact-form .form-group .row .checkboxes {
    padding: 10px;
    display: inline-flex;
}

.contact-info {
    width: 350px; 
    background: var(--gradientC4);
    padding: 60px 40px 20px;
    border-radius: 1rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact-info .info-box .bx {
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .details h4 {
    color: var(--btnColor);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
    color: var(--btnColor2);
}

/* media queries */
@media (max-width: 1068px) {
    #home-body {
        height: 100vh;
    }
    #body {
        height: 170vh;
    }

    .home-img {
        display: none;
    }

    .logo {
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }

    section {
        padding: 100px 40px;
    }

    .navigation ul li a {
        font-size: 2rem;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo img {
        width: 12rem;
    }

    .contact {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
        padding: 30px 30px 20px;
    }
    .contact-form .row {
        flex-direction: row;
    }

    .contact-form .input50,
    .contact-form .input100 {
        width: 100%;
        margin: 0;
    }

    .contact-info {
        width: 100%;
        margin-top: 20px;
        padding: 30px 30px 20px;
    }

    #port {
        height: 500vh;
    }
}

@media (max-width: 768px) {
    #home-body {
        height: 100vh;
    }
    #body {
        height: 235vh;
    }

    .logo img {
        width: 12rem;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .services .service {
        box-shadow: 0 10px 30px var(--btnColor);
        opacity: 0.6;
    }

    #port {
        height: 500vh;
    }

    .contact-form .form-group .input50 {
        width: 100%;
        margin: 0 10px;
    }

    .contact-form .row {
        flex-direction: column;
    }

    .contact-form .form-group .row .checkboxes {
        display: inline-flex;
    }
}

@media (max-width: 414px) {
    #home-body {
        height: 100vh;
    }
    #body {
        height: 400vh;
    }

    #contact {
        height: 100vh;
    }

    #port {
        height: 500vh;
    }
}

@media (max-width: 375px) {
    #home-body {
        height: 100%;
    }
    #body {
        height: 450vh;
    }

    .logo img {
        width: 8rem;
    }

    #contact {
        height: 200vh;
    }

    #port {
        height: 450vh;
    }
}

@media (max-width: 320px) {
    #home-body {
        height: 100%;
    }
    #body {
        height: 580vh;
    }

    #contact {
        height: 250vh;
    }

    #port {
        height: 500vh;
    }
}
